
# Ignore compiler build directories
zig-out/
.zig-cache/

#ignore local environment (API keys)
.env 

# Ignore simulation outputs
*.vcd
*.fst
.openmono/
.verify_scratch/

# Ignore GHDL build artifacts
*.cf
